results/**
resources/*
!resources/chrom_sizes/
logs/**
.snakemake
.snakemake/**
.condarc 
.cache
.conda
report/**
Dockerfile
config/samples_sheet_ER.csv
config/samples_sheet_bap1.csv
dag.svg
report.html
config/config_bap1.yaml
config/samples_sheet_bap1Short.csv