configfile: "config/config.yaml"

module [[ module_name ]]:
    snakefile:
        # TODO replace <release> with desired release
        "https://github.com/DavideBrex/SpikeFlow/raw/<release>/Snakefile"
    config:
        config

use rule * from [[ module_name ]]